/*
author: elia deppe
filename: style.css

main stylesheet

color / theme - atom one dark
    black        | #282c34
    white        | #abb2bf
    light red    | #e06c75
    dark red     | #be5046
    green        | #98c379
    light yellow | #e5c07b
    dark yellow  | #d19a66
    blue         | #61afef
    magenta      | #c678dd
    cyan         | #56b6c2
    gutter grey  | #4b5263
    comment grey | #5c6370
*/

/* -------------------- main -------------------- */
body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #282c34;
}

/* - text defaults */
h1, h2, h3, h4, h5, h6, p {
    color: #abb2bf;
}

/* - link defaults */
a {
    color: #61afef;
}

a:hover {
    color: #56b6c2;
    text-decoration: none;
}

/* - navbar defaults */
#nav_bar {
    min-height: 100px;
}

.navbar-brand {
    font-size: 2.25em;
}

/* - navbar items defaults */
.nav-link {
    font-size: 1.75em;
    letter-spacing: 2px;
}

/* all lists should be transparent unless otherwise specified. */
.list-group-item {
    background-color: transparent;
}

/* background color classes */
.highlight-color-text {
    color: #282c34;
}

.blue-bg {
    background-color: #61afef;
}

.cyan-bg {
    background-color: #56b6c2;
}

.green-bg {
    background-color: #98c379;
}

.light-yellow-bg {
    background-color: #e5c07b;
}

.dark-yellow-bg {
    background-color: #d19a66;
}

.light-red-bg {
    background-color: #e06c75;
}

.dark-red-bg {
    background-color: #be5046;
}

.magenta-bg {
    background-color: #c678dd;
}

/* -------------------- /about -------------------- */
#about-content > h2 {
    font-size: 2em;
}

#about-content > h2 > mark {
    display: inline-block;
    width: 750px;
    padding: 10px 0 10px 5px;
}

#about-content > .content-container {
    width: 600px;
    margin-bottom: 50px;
}

#about-content p {
    font-size: 1.2em;
}

#about-content li.about-identifier {
    min-width: 200px;
}

#about-content ul.list-group.development-projects {
    width: 1000px;
}

#about-content li.list-group-item.development-project {
    border-top: none;
    border-bottom: 10px solid #5c6370;
    border-left: none;
    border-right: none;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#about-content li.license-type {
    width: 35px;
    min-width: 35px;
}

#about-content li.app-type {
    width: 325px;
    min-width: 325px;
}

/* /create */
#create_post_form .form-group label {
    font-size: 1.5em;
}

#input_text {
    resize: none;
}

#create_post_form mark {
    display: inline-block;
    width: 500px;
}
